@import '../../../styles/imports';

.event-details {
  &__buy-tickets {
    font-family: $fontBold;
    color: $mainColor;
    font-size: 3rem;
    cursor: pointer;
    &:hover {
      color: $greyLight;
    }
  }
  &__title {
    font-family: $fontBold;
    font-size: 5rem;
    line-height: 10rem;
    color: $mainColor;
    margin-bottom: 3rem;
    text-align: center;
  }

  &__info {
    display: grid;
    justify-content: space-between;
  }

  &__header {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: min-content 1fr;
  }

  &__side-info {
    display: grid;
    grid-template-rows: repeat(4, min-content);
    grid-gap: 4rem;
    justify-items: center;
  }

  &__date {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__month {
    font-family: $font;
    font-size: 3.5rem;
    color: $grey;
  }

  &__day {
    font-family: $fontBold;
    font-size: 4.5rem;
  }

  &__time {
    font-family: $font;
    font-size: 3.5rem;
    color: $grey;
    &-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__icon {
    height: 4rem;
    width: 4rem;
    margin-top: 2rem;
    cursor: pointer;
    &--facebook {
      :hover {
        fill: #3b5998;
      }
    }
    &--location-pin {
      :hover {
        fill: $mainColor;
      }
    }
  }
}
