@import "../../styles/imports";

.header {
  &__main {
    display: grid;
    grid-template-columns: min-content 1fr max-content;
    align-items: center;
    gap: 8rem;
    margin-bottom: 5rem;
    @include resize(1300px) {
      gap: 5rem;
    }
  }

  &__logo {
    height: 8rem;
    width: 8rem;
    background: url("/imgs/logo.jpg") no-repeat;
    background-size: cover;
    cursor: pointer;
    transition: all 0.2s;

    @include resize(900px) {
      margin-left: 10rem;
      height: 7rem;
      width: 7rem;
      margin-top: .5rem;
    }

    @include resize(700px) {
      height: 6rem;
      width: 6rem;
      margin-top: 1rem;
    }

    &-container {
      display: grid;
      grid-template-columns: repeat(2, min-content);
      grid-gap: 3rem;
      align-items: center;
      @include resize(1300px) {
        grid-template-columns: min-content;
      }
    }
  }

  &__title {
    margin-right: auto;
    font-family: OutrunFuture;
    font-size: 2.5rem;
    color: $mainColor;
    user-select: none;
    line-height: 3rem;
    letter-spacing: 0.1rem;
    transition: all 0.2s;

    @include resize(1300px) {
      display: none;
    }
    &:hover {
      color: $greyLight;
      cursor: pointer;
    }
  }

  &__social {
    width: 8rem;
  }

  &__user {
    position: relative;

    &:hover .header__user-options {
      opacity: 1;
      visibility: visible;
    }
    &-options {
      position: absolute;
      opacity: 0;
      visibility: hidden;
      width: max-content;
      right: 0;
      transition: all 0.2s;
      background-color: white;
      margin-top: 1rem;
      display: grid;
      grid-gap: 0.5rem;
      padding: 1.5rem;
      box-shadow: 0 0.4rem 1.4rem rgb(210, 210, 210);
    }

    &-name {
      text-align: end;
      margin-top: 1.8rem;
      margin: auto;
    }
    &-option {
      margin-top: 1rem;
      text-align: end;
      width: max-content;

      &:hover ~ .header__user-option {
        opacity: 1;
        visibility: visible;
      }
      &:hover {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &__logged-out {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-gap: 3rem;
    width: max-content;
    align-items: center;
  }
}

